html, body {
    height: 100%;
}

.app-body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-main {
    height: 100%;
}

#counter_space {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    height: 100%;
}

#counter {
    font-size: 7rem;
}

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
  
@media(min-width: 1024px) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

.training-plan-card {
    padding: 1rem;
}

.one-hundred-plan__16-9-media {
    background-image: url("img/one_hundred.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(255, 107, 0);
    height: 12.313rem;
    /* 197sp, for 16:9 ratio with 350sp demo card width */
}