html, body {
    height: 100%;
}

#app_space {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#counter {
    font-size: 7rem;
}

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
  
@media(min-width: 1024px) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}